name: Orchestrate build Service

on:
  workflow_dispatch:
    inputs:
      choiceVar:
        description: 'Input of type: choice'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      boolVar:
        description: 'Input of type: boolean'
        required: false
        type: boolean
      envVar:
        description: 'Input of type: environment'
        type: environment
        required: true


jobs:
  echo_inputs:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "choiceVar: $CHOICEVAR"
          echo "boolVar: $BOOLVAR"
          echo "envVar: $ENVVAR"
        env:
          CHOICEVAR: ${{ inputs.choiceVar }}
          BOOLVAR: ${{ inputs.boolVar }}
          ENVVAR: ${{ inputs.envVar }}

  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Orchestrator Repo
        uses: actions/checkout@v4
      
      - name: Read configs
        id: read-config
        run: |
          echo "Reading Configs"
  

  trigger:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Trigger repo builds (sequential)
        id: trigger
        run: |
          echo "Triggering sequential repo builds"
